<h1>Add an ingredient</h1>
<form class="form-group" action="/recipes/<%= @recipe.id %>/ingredient/add" method="post">
  <input type="text" name="name">
  <button type="submit" name="button">Add it!</button>
</form>
