<h1>Add a category</h1>
<form class="form-group" action="/recipes/<%= @recipe %>/categories/new" method="post">
  <input type="text" name="name">
  <button type="submit" name="button">Add it!</button>

</form>
