<h1><%= @tag.name %></h1>
<% if @tag %>
  <ul>
    <% @tag.recipes.each do | recipe |  %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
    <% end %>
  </ul>
<% end %>

<form action="/tags/<%= @tag.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Delete</button>
</form>
